page-contact {
  .contactName {
    margin-left: 10%;
    color: ghostwhite;
    font-weight: bold;
  }
  .contactCompany {
    margin-left: 10%;
    color: rgba(222, 222, 222, 0.65);
    font-size: small;
    font-weight: bold;
  }

  .alpha-divider {
    color: rgba(248, 248, 255, 0.51);
    font-weight: bolder;
  }
}

.masterBg {
  background: #9b0013;
}

.item-border {
  border: 0px !important;
}
